# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# SQLite
*.db

# Environment / secrets
.env
.env.*

# IDE
.vscode/

# Uploaded files
uploads/*
!uploads/.gitkeep

*.db.bak*
# Local database backups
*.db.bak*
